@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Bebas+Neue&family=Rajdhani:wght@300;400;600;700&family=Raleway:wght@300;500&family=Roboto:wght@100;300;500&family=Rubik+Bubbles&display=swap');
p {
    font-family: 'Rubik Bubbles';
    font-size: 20px; 
    color: #333; 
  }

  